bin/Debug/netcoreapp5.0/main.dll
bin/Debug/netcoreapp5.0/main.pdb
bin/Debug/netcoreapp5.0/ref/main.dll
bin/Release/netcoreapp5.0/main.deps.json
bin/Release/netcoreapp5.0/main.dll
bin/Release/netcoreapp5.0/main.exe
bin/Release/netcoreapp5.0/main.pdb
bin/Release/netcoreapp5.0/main.runtimeconfig.dev.json
bin/Release/netcoreapp5.0/main.runtimeconfig.json
bin/Release/netcoreapp5.0/ref/main.dll
obj/Debug/netcoreapp5.0/main.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp5.0/main.dll
obj/Debug/netcoreapp5.0/main.pdb
obj/Debug/netcoreapp5.0/ref/main.dll
obj/Release/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/netcoreapp5.0/apphost.exe
obj/Release/netcoreapp5.0/main.AssemblyInfo.cs
obj/Release/netcoreapp5.0/main.AssemblyInfoInputs.cache
obj/Release/netcoreapp5.0/main.assets.cache
obj/Release/netcoreapp5.0/main.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp5.0/main.csproj.FileListAbsolute.txt
obj/Release/netcoreapp5.0/main.dll
obj/Release/netcoreapp5.0/main.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/netcoreapp5.0/main.genruntimeconfig.cache
obj/Release/netcoreapp5.0/main.pdb
obj/Release/netcoreapp5.0/ref/main.dll
.vs/main/v16/.suo
.vs/main/DesignTimeBuild/.dtbcache.v2
