
*.exe
*.exe
*.cache
*.cache
*.editorconfig
*.editorconfig
/bin/*
/obj/*
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
bin/Debug/netcoreapp5.0/main.dll
bin/Debug/netcoreapp5.0/main.pdb
bin/Debug/netcoreapp5.0/ref/main.dll
obj/Debug/netcoreapp5.0/main.dll
obj/Debug/netcoreapp5.0/main.pdb
obj/Debug/netcoreapp5.0/ref/main.dll
